<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='css/style.css') }}"></script>
    <title>EMAIL</title>
</head>
<body>
    <div class="container">
        <form action="/process" method="POST">
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <h2>Flash bang! She blinded me with science!</h2>
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" name="email">
            </div>
            <input type="submit" class="btn btn-warning btn-outline-primary" value="Add Email">
        </form>
    </div>
</body>
</html>